.container {
    padding: 20px;
  }
  
  .availability {
    margin-bottom: 20px;
  }
  
  .availability-list {
    list-style-type: none;
    padding: 0;
  }
  
  .availability-item {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  
  .input {
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .button {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  
  .appointment-list {
    list-style-type: none;
    padding: 0;
  }
  
  .appointment-card {
    background-color: lightgray;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border-width: 2px;
    border-style: solid;
  }
  